<!doctype html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/public/mix-manifest.json">
    <link href="/public/css/app.css" rel="stylesheet">
</head>
<body>
    <div id="app" class="container">
        <header>
            <navigation></navigation>
        </header>

        <main role="main">
            <app></app>
        </main>

        <footer class="footer">
            <div class="footer_bottom">
                <div class="row justify-content-md-between">
                    <div class="col-md-5 order-1 order-md-2">
                        <div class="row justify-content-center">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 about-portal_wrap">
                        <div class="about-portal beta"></div>
                        <div class="footer_text">
                            Портал працює в тестовому режимі. Зауваження та пропозиції надсилайте на
                            <a href="mailto:support@gov.ua">support@da.org.ua</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-8 about-portal_wrap">
                        <div class="about-portal cc"></div>
                        <div class="footer_text">
                            Увесь вміст доступний за ліцензією <a target="_blank" href="javascript:void(0)" class="font-weight-bold" rel="nofollow">Creative Commons Attribution 4.0 International license</a>, якщо не зазначено інше
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="dev-company">
                            <div class="dev-company_text footer_text">
                                Дизайн взято з  <a href="https://design.gov.ua" target="_blank" class="font-weight-bold" rel="nofollow">https://design.gov.ua</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
   </div>

    <script src="/public/js/app.js"></script>
</body>
</html>