<!doctype html>
<html lang="uk">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144594063-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-144594063-1');
    </script>

    <title>Пошук у державних реєстрах України: ФОП, Юридичні особи</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/css/app.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/public/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/public/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/ico/favicon-16x16.png">
    <link rel="manifest" href="/public/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/public/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="keyword" content="Пошук ФОП, Пошук ЄДРПОУ, Пошук юридичних осіб, безкоштовно, відкриті данні">
    <meta name="description" content="da.org.ua — пошук  у державних реєстрах України">
</head>
<body>
    <div id="app" class="wrapper">
        <header>
            <navigation></navigation>
        </header>

        <main role="main" class="container">
            <app></app>
        </main>

        <footer class="footer">
            <div class="footer_bottom">
                <div class="row justify-content-md-between">
                    <div class="col-md-5 order-1 order-md-2">
                        <div class="row justify-content-center">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 about-portal_wrap">
                        <div class="about-portal beta"></div>
                        <div class="footer_text">
                            Портал працює в тестовому режимі. Зауваження та пропозиції надсилайте на
                            <a href="mailto:support@gov.ua">support@da.org.ua</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-8 about-portal_wrap">
                        <div class="about-portal cc"></div>
                        <div class="footer_text">
                            Увесь вміст доступний за ліцензією <a target="_blank"  rel="noreferrer"  href="javascript:void(0)" class="font-weight-bold">Creative Commons Attribution 4.0 International license</a>, якщо не зазначено інше
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="dev-company">
                            <div class="dev-company_text footer_text">
                                Дизайн взято з  <a href="https://design.gov.ua" target="_blank"  class="font-weight-bold" rel="noreferrer">https://design.gov.ua</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
   </div>

    <script src="/public/js/app.js"></script>
</body>
</html>